@using ApprovalFlow.DataAccess;
@model List<ApprovalFlow.DataAccess.Staff>

@{
    ViewBag.Title = "Index";
}

<h2>User Dashboard</h2>
<div>
    <div class="ui align right"><a href="/UserDashboard/AddStaff" class="ui button">Add</a></div>
    <table class="ui celled table">
        <tr>
            <td>Staff ID</td>
            <td>Staff Name</td>
            <td>Approval Status</td>
            <td>Action</td>
        </tr>
        @foreach (Staff staff in Model)
        {
            <tr>
                <td>@staff.StaffID</td>
                <td>@staff.StaffName</td>
                <td>
                    @if (staff.Status == 0)
                    {
                        <b>Created</b>
                    }
                    else if (staff.Status == 1)
                    {
                        <b>Approved</b>
                    }
                    else if (staff.Status == 2)
                    {
                        <b>Denied</b>
                    }
                </td>
                <td><a href="/AdminDashboard/Approve/@staff.StaffID">Approve</a> | <a href="/AdminDashboard/Deny/@staff.StaffID">Deny</a></td>
            </tr>
        }

    </table>

</div>