
@{
    ViewBag.Title = "AddStaff";
}

<h2>AddStaff</h2>
<form action="/UserDashboard/SubmitStaff" method="post">
    <div class="ui container">
        <div class="ui grid">
            <div class="column">
                <div class="ui label">Staff Name</div>
                <div class="ui control"><input type="text" name="staffName" /></div>
            </div>
            <div class="column">
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>

</form>