
<h2>SignUpForm</h2>

<form action="/Home/Submit" method="post">
    <div>
        <label>First Name</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label>Last Name</label>
        <input asp-for="LastName" />
    </div>
    <div>       
        <button type="submit">Submit</button>
    </div>
</form>