
@{
    ViewBag.Title = "Index";
}

<h2>Create Member</h2>

<form action="/Member/Submit" method="post">
    <div>
        <label>Member Name</label>
        <input type="text" id="memberName" name="memberName" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

